body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

.profile-header h1 {
    font-size: 16pt;
    margin: 0;
}

.profile-header p {
    margin: 5px 0;
    font-size: 10pt;
}

section {
    margin-bottom: 10px;
}

h2 {
    font-size: 12pt;
    font-weight: bold;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.skill-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill {
    flex: 0 0 48%;
    margin-bottom: 10px;
}

.skill h3 {
    font-size: 10pt;
    margin-bottom: 5px;
}

.skill p {
    font-size: 10pt;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    font-size: 10pt;
}

.job {
    margin-bottom: 10px;
}

.job h3 {
    font-size: 10pt;
    margin: 0;
}

.job p {
    font-size: 10pt;
    margin: 5px 0;
}

.job h4 {
    font-size: 10pt;
    margin: 5px 0;
}

button {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Ensure content is not split over pages */
@media print {
    .container {
        max-width: 100%;
        margin: 0 auto;
    }
    header, section, .skill-set, .job, .education, .certifications {
        page-break-inside: avoid;
    }
    .buttons {
        display: none;
    }
}